.friendList {
  padding: 10px;
  max-width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 200px;
  padding: 5px;
  border: 1px solid burlywood;
  border-radius: 5px;
}
.isOffline {
  content: '';
  border-radius: 50%;
  background-color: green;
  width: 10px;
  height: 10px;
}
.isOnline {
  content: '';
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
}
.avatar {
  width: 48px;
}
.name {
}
